{% extends "base.html" %}
{% block title %} Настройки {% endblock %}
{% block content %}
      <h2>Новый вопрос</h2>
        <form class="form-horizontal" role="form">
            <div class="form-group">
               <label for="inputTitleQuest" maxlength="45" class="col-sm-2 control-label" >Заголовок</label>
               <div class="col-sm-8">
                  <input type="text_ask" class="form-control" required>
				   <span class="error">Заголовок не может быть пустым</span>
               </div>
            </div>
			
            <div class="form-group">
               <label for="inputTextQuest" class="col-sm-2 control-label">Подробности</label>
              <div class="col-sm-8">
                  <textarea class="form-control" rows="5"></textarea>	
				<div class="help-block ">Не более 500 символов</div>				  
              </div>				  
            </div>
			
            <div class="form-group">
               <label for="inputTagsQuest" class="col-sm-2 control-label">Теги</label>
               <div class="col-sm-8">
                  <input type="text_tags" class="form-control" required>
				  <div class="help-block ">Не более 5 тегов</div>
               </div>
            </div>          
              <div class="form-group">
                 <div class="col-sm-offset-2 col-sm-6">
                      <button type="submit" class="btn btn-info">Спросить</button>
                  </div>
              </div>
        </form>
      {% endblock %}