<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %} base {% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
 
<link href="/static/css/bootstrap.css" rel="stylesheet">
<style type="text/css"></style>
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
 <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
<link href="/static/css/mycss.css" rel="stylesheet" !important  >
<base target="_self">

<body>
 
<nav class="navbar">
    <div class="container"> 
     <div class="row">
      <div class="col-md-1"></div>
       <div class="col-md-7">
        <div class="navbar-brand" >        
	<a href="/../../">{% include "run.svg" %}</a></div>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group" >
            <input type="search" size="40px" class="form-control" placeholder="Найти вопрос">
            <button type="submit" class="btn btn-default">Поиск</button>
          </div>
        </form>
          {% if isAuth%}
          
       </div>
        <div class="col-md-1 navbar-user" >
          <div id="navbar-avatar-block" align="right"><a href=#><img  id="navbar-avatar" src="/static/img/avatar.png" border="0"> </a></div>
        </div>
        <div class="col-md-1 navbar-user" >
         <p id="navbar-autho"> <a style="color:#FFFFFF" href="/../../settings" >Настройки </a> </p>
         <p id="navbar-autho"> <a style="color:#FFFFFF" href="/../../logout" >Выйти</a> </p>
        </div>
	<form class="navbar-form navbar-left" role="ask">
            <div class="form-group">
               <a href="../../ask" class="btn btn-info">Задать вопрос</a>
            </div>
          </form>
        {% else %}
      </div>
        
           <div class="col-sm-1" id="navbar-login">
            <h4><a href="../../login"  style="color:white">Войти</a></h4>
	   </div>
	   <div class="col-sm-1" id="navbar-login">
            <h4> <a href="../../signup"  style="color:white">Регистрация</a></h4>
           </div>
       
        {% endif %}
    </div>
    </div>
  </nav>


<div class="container">
  <div class="row">
    <div class="col-md-8" id="main">
     {% block content %} {% endblock %} 
    </div>

     <div class="col-md-3" >
      <div align="center" id="right">
	{% if popular_tag %}
        <h2>Популярные теги</h2>
          <div align="justify">
	  {% for tag in popular_tag %}
		{% if tag.many %}
	         <a id="poptag_h1" href="{% url 'tag' tag%}" >{{tag.value}}</a>
		{% else %}
		<a id="poptag_h2" href="{% url 'tag' tag.value%}" >{{tag.value}}</a>
            	{% endif %}
	  {% endfor %}
          </div>
	{% endif %}
      </div>
      <div align="center" id="right">
	{% if popular_user %}
        <h2>Популярные пользователи</h2>
        <h4>
            <div align="left">
		{% for user in popular_users %}
                <p><a  href=# >{{user.nickname}}</a></p>   
		{% endfor %}             
            </div>
        </h4> 
	{% endif %}       
      </div>
    </div>
  </div>

<hr>
<footer>
<p>&copy; Company 2016</p>
</footer>
</div>  
 
 
<script src="/static/js/jquery.js"></script>
<script src="/static/js/transition.js"></script>
<script src="/static/js/alert.js"></script>
<script src="/static/js/modal.js"></script>
<script src="/static/js/dropdown.js"></script>
<script src="/static/js/scrollspy.js"></script>
<script src="/static/js/tab.js"></script>
<script src="/static/js/tooltip.js"></script>
<script src="/static/js/popover.js"></script>
<script src="/static/js/button.js"></script>
<script src="/static/js/collapse.js"></script>
<script src="/static/js/carousel.js"></script>
</body>
</html>
