<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %} base {% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
 
<link href="../../css/bootstrap.css" rel="stylesheet">
<style type="text/css"></style>
<link href="../../css/bootstrap-responsive.css" rel="stylesheet">
 <link href="../../css/bootstrap-theme.css" rel="stylesheet">
<link href="../../css/mycss.css" rel="stylesheet" !important  >
<base target="_self">

<body>
 
<nav class="navbar">
    <div class="container"> 
     <div class="row">
      <div class="col-md-1"></div>
       <div class="col-md-7">
        <a class="navbar-brand" href="../">
        <img src="../../logo.png" border="0", height="50",width="50"></a>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="search" class="form-control" placeholder="Search...">
            <button type="submit" class="btn btn-info">Поиск</button>
          </div>
        </form>
          {% if isAuth%}
          <form class="navbar-form navbar-left" role="ask">
            <div class="form-group">
               <a href="../../ask" class="btn btn-info">Задать вопрос</a>
            </div>
          </form>
       </div>
        <div class="col-md-1 navbar-user" >
          <a href=#><img id ="avatar" src="../../avatar.png" border="0", height="46",width="46", align="right"> </a>
        </div>
        <div class="col-md-1 navbar-user" >
         <p id="navbar-autho"> <a style="color:#FFFFFF" href="../../settings" >Настройки </a> </p>
         <p id="navbar-autho"> <a style="color:#FFFFFF" href=# >Выйти</a> </p>
        </div>
        {% else %}
      </div>
        <form class="navbar-form" >
           <div class="navbar-brand form-group">
             <a href="../../login" class="btn btn-info">Войти</a>
             <a href="../../signup" class="btn btn-info">Регистрация</a>
           </div>
        </form>
        {% endif %}
    </div>
    </div>
  </nav>


<div class="container">
  <div class="row">
    <div class="col-md-8" id="main">
     {% block content %} {% endblock %} 
    </div>

     <div class="col-md-3" >
      <div align="center" id="right">
        <h2>Популярные теги</h2>
          <div align="justify">
            <a id="poptag_h3" href="{% url 'tag' 'Python'%}" >Python</a>
            <a id="poptag_h1" href="{% url 'tag' 'C'%}" >C</a>
            <a id="poptag_h2" href="{% url 'tag' 'web'%}" >web</a>
            <a id="poptag_h1" href="{% url 'tag' 'Chrome'%}" >Chrome</a>
            <a id="poptag_h3" href="{% url 'tag' 'CSS'%}" >CSS</a>
            <a id="poptag_h1" href="{% url 'tag' 'BMSTU'%}" >BMSTU</a>
          </div>
      </div>
      <div align="center" id="right">
        <h2>Лучшие пользователи</h2>
        <h4>
            <div align="left">
                <p><a  href=# >Doctor</a></p>
                <p><a href=# >Amelia</a></p>
                <p><a href=# >Rorry</a></p>
            </div>
        </h4>        
      </div>
    </div>
  </div>

<hr>
<footer>
<p>&copy; Company 2016</p>
</footer>
</div>  
 
 
<script src="../../js/jquery.js"></script>
<script src="../../js/transition.js"></script>
<script src="../../js/alert.js"></script>
<script src="../../js/modal.js"></script>
<script src="../../js/dropdown.js"></script>
<script src="../../js/scrollspy.js"></script>
<script src="../../js/tab.js"></script>
<script src="../../js/tooltip.js"></script>
<script src="../../js/popover.js"></script>
<script src="../../js/button.js"></script>
<script src="../../js/collapse.js"></script>
<script src="../../js/carousel.js"></script>
</body>
</html>
