{% extends "base.html" %}
{% block title %} #{{question_details.id}} {% endblock %}
{% block content %}
      <div class="row" id="question" >
        <div class="col-md-2">
           <a href=#><p align="center">{{question_details.author}}</p>
          {% if question_details.author.avatar%}
          	<div class="block-avatar"><img id="avatar"src="{{ question_details.author.avatar.url }}" border="0"></div>
	  {% else %}
		<div class="block-avatar"><img id="avatar"src="/static/img/avatar.png" border="0"></div>
	  {% endif %}
          <div align ="center"  >
            <a href=#> <span  class="glyphicon glyphicon-thumbs-up" ></span></a>  
	    <span id="rating">{{question_details.rating}}</span>         
            <a href=#> <span class="glyphicon glyphicon-thumbs-down" ></span></a>           
          </div>
        </div>
        <div class="col-md-10" >
          <h3 id ="question-header">{{question_details.title}}</h3>
          <p align="justify" id="question-text">{{question_details.text}}</p>
          <div id="question-bottom">            
           Теги: {% for tag in question_details.tag_list %}
            <a href="{% url 'tag' tag%}" id="tags"> {{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <hr>
{% for comment in comments %}
{% if comment.isTrue %}
      <div class="row" id="answer_true" >
        <div class="col-md-2">
         <a href=#><p align="center"> {{comment.author}}</p>
          {% if comment.author.avatar%}
          	<div class="block-avatar"><img id="avatar"src="{{ comment.author.avatar.url }}" border="0"></div>
	  {% else %}
		<div class="block-avatar"><img id="avatar"src="/static/img/avatar.png" border="0"></div>
	  {% endif %}
          <div align ="center"  >
            <a href=#> <span  class="glyphicon glyphicon-thumbs-up" ></span></a>  
	    <span id="rating">{{comment.rating}}</span>         
            <a href=#> <span class="glyphicon glyphicon-thumbs-down" ></span></a>           
          </div>
        </div>
        <div class="col-md-10" >          
          <p align="justify" id="question-text">{{comment.text}}</p>
          <div id="question-bottom">
            <div id="correct_answer"><a href=#> <span style="color: green" class="glyphicon glyphicon-ok" ></span></a><span style="color: green; margin-left:5px">Правильный ответ</span></div>
          </div>
        </div>
      </div>
{% else %}
      <div class="row" id="answer" >	  
        <div class="col-md-2">
          <a href=#><p align="center">{{comment.author}}</p>
          {% if comment.author.avatar%}
          	<div class="block-avatar"><img id="avatar"src="{{ comment.author.avatar.url }}" border="0"></div>
	  {% else %}
		<div class="block-avatar"><img id="avatar"src="/static/img/avatar.png" border="0"></div>
	  {% endif %}
          <div align ="center" >
            <a href=#> <span  class="glyphicon glyphicon-thumbs-up" ></span></a>  
	    <span id="rating">{{comment.rating}}</span>         
            <a href=#> <span class="glyphicon glyphicon-thumbs-down" ></span></a>           
          </div>
        </div>
        <div class="col-md-10" >          
          <div align="justify" id="question-text">{{comment.text}}</div>
          <span id="question-bottom">
                           
                  <input type="checkbox"><label> Правильный ответ</label>
                      
          </span>
        </div>
      </div>
{% endif %}
{%endfor %}
{% if isAuth %}
	<div>
	<textarea class="form-control add-answer" rows="5"></textarea>
	 <div class="form-group">
           <div class="col-sm-6">
             <button type="submit" class="btn btn-info">Ответить</button>
           </div>
         </div>
	</div>
{% endif %}
{% endblock content %}

   
