{% extends "base.html" %}
{% block title %} Вопрос {{question_details.question_id}} {% endblock %}
{% block content %}
      <div class="row" id="question" >
        <div class="col-md-2">
          <a href=#><span>{{question_details.author}}</span>
          <p><img id="avatar"src="../../avatar.png" border="0", height="70",width="70"></p>  </a>
          <div class="btn-group" data-toggle="buttons" id="button-like">
            <button type="radio" class="btn btn-success" name="like" value="1">
            <span class="glyphicon glyphicon-thumbs-up" ></span>
            </button>                   
            <button type="radio" class="btn btn-danger" name="dislike" value="1" >
            <span class="glyphicon glyphicon-thumbs-down" ></span>
            </button>
            <div align="center" id="rating">{{question_details.rating}}</div>
          </div>
        </div>
        <div class="col-md-10" >
          <h3 id ="question-header">{{question_details.title}}</h3>
          <p align="justify" id="question-text">{{question_details.text}}</p>
          <div id="question-bottom">            
            {% for tag in question_details.tags %}Теги:
            <a href="tag.html" id="tags"> {{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <hr>
{% for comment in comments %}
{% if comment.isTrue %}
      <div class="row" id="answer_true" >
        <div class="col-md-2">
          <a href=#><span>{{comment.author}}</span>
          <p><img id="avatar"src="../../avatar.png" border="0", height="70",width="70"></p></a>
          <div class="btn-group" data-toggle="buttons" id="button-like">
            <button type="radio" class="btn btn-success" name="like" value="1">
            <span  class="glyphicon glyphicon-thumbs-up" ></span>
            </button>                   
            <button type="radio" class="btn btn-danger" name="dislike" value="1" >
            <span class="glyphicon glyphicon-thumbs-down" ></span>
            </button>
            <div align="center" id="rating">{{comment.rating}}</div>
          </div>
        </div>
        <div class="col-md-10" >          
          <p align="justify" id="question-text">{{comment.text}}</p>
          <div id="question-bottom">
            <div id="correct_answer"><a href=#> <span style="color: green" class="glyphicon glyphicon-ok" ></span></a><span style="color: green; margin-left:5px">Правильный ответ</span></div>
          </div>
        </div>
      </div>
{% else %}
      <div class="row" id="answer" >	  
        <div class="col-md-2">
          <a href=#><span>{{comment.author}}</span>
          <p><img id="avatar"src="../../avatar.png" border="0", height="70",width="70"></p></a>
          <div class="btn-group" data-toggle="buttons" id="button-like">
            <button type="radio" class="btn btn-success" name="like" value="1">
            <span  class="glyphicon glyphicon-thumbs-up" ></span>
            </button>                   
            <button type="radio" class="btn btn-danger" name="dislike" value="1" >
            <span class="glyphicon glyphicon-thumbs-down" ></span>
            </button>
            <div align="center" id="rating">{{comment.rating}}</div>
          </div>
        </div>
        <div class="col-md-10" >          
          <p align="justify" id="question-text">{{comment.text}}</p>
          <div id="question-bottom">
            <div class="checkbox">
                <label>
                  <input type="checkbox"> Правильный ответ
                </label>
            </div>          
          </div>
        </div>
      </div>
{% endif %}
{%endfor %}
	<div>
	<textarea class="form-control add-answer" rows="5"></textarea>
	 <div class="form-group">
           <div class="col-sm-6">
             <button type="submit" class="btn btn-info">Ответить</button>
           </div>
         </div>
	</div>
{% endblock content %}

   
