<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>tag</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
 
<link href="css/bootstrap.css" rel="stylesheet">
<style type="text/css"></style>
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/bootstrap-theme.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">

<link href="css/mycss.css" rel="stylesheet" !important  > 
<base target="_self">
</head>
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
 

<script type="text/javascript" src="http://me.kis.v2.scr.kaspersky-labs.com/45F71BBB-9D1C-3A49-ADCD-DB95CE37C6D7/main.js" charset="UTF-8"></script></head>

<body>
  <nav class="navbar">
    <div class="container"> 
    <div class="row">  
      <div class="col-md-1"></div>
      <div class="col-md-8">
      <a class="navbar-brand" href="index.html">
        <img src="logo.png" border="0", height="50",width="50"></a>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="search" class="form-control" placeholder="Search...">
          <button type="submit" class="btn btn-info">Поиск</button>
        </div>      
      </form>  
    </div>
    <div class="col-md-3" > 
    <form class="navbar-form" >          
       <div class="navbar-brand form-group">
        <a href="login.html" class="btn btn-info">Войти</a> 
        <a href="register.html" class="btn btn-info">Регистрация</a> 
      </div> 
      </form>    
    </div>
    </div>
    </div>  
  </nav>



<div class="container">
  <div class="row" >
    <div class="col-md-8" id="main" >
      <div align="left" >
        <div style="color:#08088A" id="sort-type"><big><big>Tag</big></big></div>        
      </div>
      <div class="row" id="block-question" >
        <div class="col-md-2">
          <a href=#><span>User</span>
          <p><img id="avatar"src="avatar.png" border="0", height="70",width="70"></p>  </a>      
          <div class="btn-group" data-toggle="buttons" id="button-like">
            <button type="radio" class="btn btn-success" name="like" value="1">
            <span class="glyphicon glyphicon-thumbs-up" ></span>
            </button>                   
            <button type="radio" class="btn btn-danger" name="dislike" value="1" >
            <span class="glyphicon glyphicon-thumbs-down" ></span>
            </button>
            <div align="center" id="rating">0</div> 
          </div>
        </div>
        <div class="col-md-10" >
          <h3 id ="question-header"><a style="color:#08088A" href="question.html" >Ques</a></h3>
          <p align="justify" id="question-text">Text</p>
          <div id="question-bottom">
            <a style="color:#08088A" href="question.html"> Ответы(1) </a>
            Теги:
            <a href="tag.html" id="tags"> smth1</a>
            <a href="tag.html" id="tags"> smth2</a>
          </div>
        </div>
      </div>
      <div class="row" id="block-question" >
        <div class="col-md-2">
          <a href=#><span>User</span>
          <p><img id="avatar"src="avatar.png" border="0", height="70",width="70"></p>  </a>      
          <div class="btn-group" data-toggle="buttons" id="button-like">
            <button type="radio" class="btn btn-success" name="like" value="1">
            <span class="glyphicon glyphicon-thumbs-up" ></span>
            </button>                   
            <button type="radio" class="btn btn-danger" name="dislike" value="1" >
            <span class="glyphicon glyphicon-thumbs-down" ></span>
            </button>
            <div align="center" id="rating">7</div> 
          </div>
        </div>
        <div class="col-md-10" >
          <h3 id ="question-header"><a style="color:#08088A" href="question.html" >Ques</a></h3>
          <p align="justify" id="question-text">Text</p>
          <div id="question-bottom">
            <a style="color:#08088A" href="question.html"> Ответы(1) </a>
            Теги:
            <a href="tag.html" id="tags"> smth1</a>
            <a href="tag.html" id="tags"> smth2</a>
          </div>
        </div>
      </div>
      <div class="row" id="block-question" >
        <div class="col-md-2">
          <a href=#><span>User</span>
          <p><img id="avatar"src="avatar.png" border="0", height="70",width="70"></p>  </a>      
          <div class="btn-group" data-toggle="buttons" id="button-like">
            <button type="radio" class="btn btn-success" name="like" value="1">
            <span class="glyphicon glyphicon-thumbs-up" ></span>
            </button>                   
            <button type="radio" class="btn btn-danger" name="dislike" value="1" >
            <span class="glyphicon glyphicon-thumbs-down" ></span>
            </button>
            <div align="center" id="rating">1</div> 
          </div>
        </div>
        <div class="col-md-10" >
          <h3 id ="question-header"><a style="color:#08088A" href="question.html" >Ques</a></h3>
          <p align="justify" id="question-text">Text</p>
          <div id="question-bottom">
            <a style="color:#08088A" href="question.html"> Ответы(1) </a>
            Теги:
            <a href="tag.html" id="tags"> smth1</a>
            <a href="tag.html" id="tags"> smth2</a>
          </div>
        </div>
      </div>
      <div align="center">
          <nav aria-label="Page navigation">
            <ul  class="pagination pagination">
              <li class="disabled">
                <a href="#" aria-label="Previous" >
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="active"><a href="#" >1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
      </div>
    </div>
    <div class="col-md-3" >
      <div id="right">
        <h2>Популярные теги</h2>
        <a id="poptag_h1" href="tag.html" >Python</a>
        <a id="poptag_h2" href="tag.html" >C++</a>
        <a id="poptag_h3" href="tag.html" >web</a>
        <a id="poptag_h2" href="tag.html" >Chrome</a>
        <a id="poptag_h2" href="tag.html" >CSS</a>
        <a id="poptag_h1" href="tag.html" >BMSTU</a>
      </div>
      <div id="right">
        <h2>Лучшие пользователи</h2>
        <h4>
          <p><a  href=# >DoctorWho</a></p>
          <p><a href=# >Amelia</a></p>
          <p><a href=# >Rorry</a></p>
        </h4>        
      </div>
    </div>
  </div>
<hr>
<footer>
<p>&copy; Company 2016</p>
</footer>
</div>  
 
 
<script src="js/jquery.js"></script>
<script src="js/transition.js"></script>
<script src="js/alert.js"></script>
<script src="js/modal.js"></script>
<script src="js/dropdown.js"></script>
<script src="js/scrollspy.js"></script>
<script src="js/tab.js"></script>
<script src="js/tooltip.js"></script>
<script src="js/popover.js"></script>
<script src="js/button.js"></script>
<script src="js/collapse.js"></script>
<script src="js/carousel.js"></script>
<script src="js/typeahead.js"></script>
</body>
</html>